{% extends 'table-builder/standard.html.twig' %}

{% block table_rows_per_page_options %}
    {% if table.rowsPerPageOptions is not empty %}
        <div class="dropdown mb-2">
            <span>Rows per page:</span>
            <button
                class="btn btn-primary btn-sm dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >{{ table.rowsPerPage }}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for option in table.rowsPerPageOptions %}
                    <a
                            href="?{{ table.params({'rows_per_page': option, 'page': 1})|url_encode }}"
                            class="dropdown-item {{ option == table.rowsPerPage ? 'active' : '' }}"
                    >{{ option }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block table_element %}
    <table class="table">
        <thead>
            <tr>
                {% for column_name, heading in table.headings %}
                    {{ table_heading(table, heading) }}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table.rows %}
                {{ table_row(table, row) }}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block table_heading %}
    <th scope="col">
        <div class="d-flex">
            <span>{{ heading.label }}</span>
            {% if heading.sortable %}
                <span class="ml-auto mr-0">
                    {% if table.sortColumnName == heading.name and not table.sortedDescending %}
                        <a href="?{{ table.params({'sort_column': null, 'sort_dir': null})|url_encode }}" class="text-secondary">&#11205;</a>
                    {% else %}
                        <a href="?{{ table.params({'sort_column': heading.name, 'sort_dir': 'asc'})|url_encode }}">&#11205;</a>
                    {% endif %}

                    {% if table.sortColumnName == heading.name and table.sortedDescending %}
                        <a href="?{{ table.params({'sort_column': null, 'sort_dir': null})|url_encode }}" class="text-secondary">&#11206;</a>
                    {% else %}
                        <a href="?{{ table.params({'sort_column': heading.name, 'sort_dir': 'desc'})|url_encode }}">&#11206;</a>
                    {% endif %}
                </span>
            {% endif %}
        </div>
    </th>
{% endblock %}

{% block table_pagination %}
    {% if table.totalPages > 1 %}
        <div class="btn-group" role="group">
            {% for i in 1..table.totalPages %}
                <a
                        href="?{{ table.params({'page': i})|url_encode }}"
                        class="btn btn-primary {{ i == table.pageNumber ? 'active' : '' }}"
                >{{ i }}</a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block action_group_cell_value %}
    <div class="btn-group" role="group">
        {% for action in cell.value.actions %}
            <a
                    href="{{ action.route is not null ? table_route(action.route, action.routeParams) : '#' }}"
                    class="btn btn-primary btn-sm"
            >{{ action.label }}</a>
        {% endfor %}
    </div>
{% endblock %}
